<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Cinima</h1>
    <div>
        <form action="{% url 'm_adding' %}" method="post">
            {% csrf_token %}
            <label>Movie name : </label> <input type="text" name="movie_name" />
            <br>
            <br>
            <label>Movie Type : </label> <input type="text" name="movie_type" />
            <br>
            <br>
            <label>Description : </label> <input type="text" name="description" />
            <br>
            <br>
            <label>image : </label> <input type="text" name="image" />
            <br>
            <br>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>