<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label>Username:</label> <input type="text" name="username"/>
        <br>
        <br>
        <label>Password:</label> <input type="text" name="password"/>
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    <br>
    <form action="{% url 'home' %}">
    <button type="submit">back to home</button>
    </form>

    {% if error_message %}
    <h1>{{error_message}}</h1>
    {% endif %}
</body>
</html>