<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create user</h1>
    <form method="post">
        {% csrf_token %}
        <label>Username:</label> <input type="text" name="username"/>
        <br>
        <br>
        <label>Password:</label> <input type="text" name="password"/>
        <br>
        <br>
        <button type="submit">Signup</button>
    </form>
    {% if user %}
    <h1>New User created by username : {{user.username}}</h1>
    {% endif %}
    
    {% if error_message %}
    <h1>{{error_message}}</h1>
    {% endif %}
</body>
</html>